@import "libs/bootstrap-reboot.min";
@import "libs/fonts";
@import "base/variables";

* {
    box-sizing: border-box;
		font-family: "Roboto", "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
		margin: 0;
}

.container {
		width: 1140px;
		margin: 0 auto;
}

@import "blocks/header";
@import "blocks/button";