.advantages {
		padding: 57px 0 51px 0;
		background-color: #f3f3f3;
		min-height: 590px;
		.title {
				color: #2e2e2e;
				font-size: 26px;
				font-weight: 700;
				line-height: 23px;
				text-align: center;
				text-transform: uppercase;
		}
		&__wrapper {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin-top: 31px;
		}
		img {
				display: block;
				margin-right: 13px;
				width: 62px;
				height: 65px;
		}
		&__items {
				width: 526px;
				display: flex;
				align-items: center;
		}
		&__title {
				color: $main-color;
				font-size: 16px;
				margin-top: 36px;
				font-weight: 700;
		}
		&__subtitle {
				margin-top: 10px;
				font-size: 14px;
				font-weight: 300;
				color: #3a3a3a;
		}
}