.reviews {
		min-height: 475px;
		background-color: #fff;
		padding: 51px 0 65px 0;
		&__subtitle {
				color: #232121;
				margin-top: 15px;
				font-size: 21px;
				font-weight: 300;
				text-align: center;
		}
}