.work {
		padding: 51px 0 0 0;
		background-color: #fff;
		min-height: 620px;
		&__subtitle {
				margin-top: 17px;
				color: #2e2e2e;
				font-size: 21px;
				font-weight: 300;
				line-height: 24px;
				text-align: center;
		}
		.grid-container {
				margin: 37px auto 0 auto;
				display: grid;
				grid-template-columns: repeat(3, 360px);
				grid-template-rows: repeat(1, minmax(128px, auto));
				grid-auto-rows: 260px;
				gap: 30px;
				.grid-elem {
						height: 210px;
						background-color: #fff;
				}
				.grid-img {
						img {
								max-width: 100%;
								display: block;
								margin: 0 auto;
						}
				}
				.grid-title {
						margin-top: 28px;
						text-align: center;
						color: $main-color;
						font-size: 18px;
						font-weight: 700;
				}
				.grid-subtitle {
						margin-top: 13px;
						color: #5e5151;
						font-size: 14px;
						font-weight: 300;
						line-height: 22px;
						text-align: center;
				}
		}
}