.promo {
		padding: 23px 0 82px 0;
		min-height: 680px;
		background: url("../image/bg/airplane.jpg") center (center / cover) no-repeat;
		.menu {
				display: flex;
				justify-content: space-between;
				list-style-type: none;
				padding-left: 0;
				margin-bottom: 0;
				&__item {
						padding-right: 25px;
						position: relative;
						&:last-child {
								padding-right: 0;
						}
						&:not(:last-child)::before {
								content: '';
								position: absolute;
								width: 1px;
								height: 23px;
								opacity: 0.4;
								background-color: #151313;
								right: 10px;
						}

				}
				&__link {
						color: #ffffff;
						font-size: 15px;
						font-weight: 400;
						text-decoration: none;
						transition: 0.6s ease-in-out ;
						&:hover {
								color: $main-color;
								transition: 0.7s ease-in-out;
								&::after {
										content: '';
										display: block;
										width: 100%;
										height: 1px;
										background-color: $main-color;
								}
						}
				}
		}

		.mobile-menu {
				display: none;
		}


		&__present {
				color: #e3d8d8;
				font-size: 24px;
				font-weight: 300;
				text-align: center;
				margin-top: 10px;
		}
		&__header {
				color: $main-color;
				font-size: 72px;
				font-weight: 700;
				font-family: 'Roboto Condensed';
				margin-top: 26px;
				text-transform: uppercase;
				text-align: center;
		}
		&__subtitle {
				margin-top: 10px;
				color: #ffffff;
				font-size: 42px;
				font-weight: 400;
				font-family: 'Roboto Condensed';
				text-transform: uppercase;
				text-align: center;
		}
		&__line {
				margin-top: 38px;
				img {
						display: block;
						margin: 0 auto;
				}
		}
		&__icons {
				display: flex;
				justify-content: space-between;
				margin-top: 35px;
				align-items: baseline;

		}
		&__icon {
				width: 265px;
				color: #ffffff;
				font-size: 16px;
				font-weight: 300;
				text-align: center;
				img {
						display: block;
						margin: 0 auto 19px auto;
				}
		}
}

.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__logo {
				img {
						width: 100%;
				}
		}
		&__contacts {
				display: flex;
				align-items: center;
		}
		&__wrapper {
				margin-right: 20px;
		}
		&__text {
				color: #e3d8d8;
				font-size: 14px;
				font-weight: 300;
				text-align: right;
		}
		&__phone {
				color: #ffffff;
				font-size: 19px;
				font-weight: 700;
				text-decoration: none;
				line-height: 24px;
				padding-top: 5px;
				cursor: pointer;
				transition: 0.7s ease-in-out;
				&:hover {
						color: $main-color;
				}
		}
}

.burger {
		display: none;
}


