@media (max-width: 1200px) {
		.container {
				max-width: 960px;
		}



		.promo {
				padding: 23px 0 60px 0;
				.header {
						&__logo {
								width: 80px;
						}
						&__wrapper {
								margin-right: 15px;
						}
						&__text {
								font-size: 13px;
						}
						&__phone {
								font-size: 15px;
						}
				}
				&__icon {
						font-size: 14px;
				}
				.menu {
						&__item {
								padding-right: 15px;
								&:not(:last-child)::before {
										right: 7px;
								}
						}
				}
		}
		.button {
				padding: 15px 15px;
		}

		.advantages {
				padding: 45px 0 51px 0;
				&__items {
						width: 440px;
				}
		}

		.work {
				.grid-container {
						grid-template-columns: repeat(3, 295px);
				}
		}

		.agent {
				min-height: 330px;
				&__subtitle {
						font-size: 16px;
				}
		}

		.price {
				&-item {
						width: 230px;
						&__title {
								padding: 24px 22px 22px 45px;
						}
				}
		}

		.scheme {
				.grid-container {
						width: 100%;
						grid-template-columns: repeat(4, 210px);
						padding-left: 10px;
						gap: 40px;
				}
				.grid-elem_items {
						width: 235px;
						margin-right: 25px;
				}
		}

		.footer {
				min-height: 470px;
				&__info {
						top: 11%;
						left: 60%;
						transform: translateX(-49%);
				}
				&__present {
						margin-right: 10%;
				}
				.header__logo {
						width: 80px;
				}
				.header__wrapper {
						margin-right: 15px;
				}
				.header__text {
						font-size: 13px;
				}
				.header__phone {
						font-size: 15px;
				}
		}
}

@media (max-width: 992px) {
		.container {
				max-width: 720px;
		}
		.promo {
				padding: 15px 0 45px 0;
				.header {
						&__contacts {
								display: none;
						}
						.menu {
								&__link {
										font-size: 17px;
								}
						}
				}
				&__header {
						font-size: 56px;
						margin-top: 15px;
				}
				&__subtitle {
						font-size: 37px;
				}
				&__line {
						img {
								width: 100%;
						}
				}
				&__icon {
						width: 160px;
						font-size: 14px;
				}
		}

		.advantages {
				&__wrapper {
						margin-top: 15px;
				}
				&__items {
						width: 100%;
				}
		}

		.work {
				padding: 40px 0 0 0;
				min-height: 570px;
				&__subtitle {
						font-size: 16px;
				}
				.grid-container {
						grid-template-columns: repeat(3, 219px);
						margin: 25px auto 0 auto;
						gap: 25px;
						grid-auto-rows: 200px;
						.grid-elem {
								height: 100%;
						}
						.grid-title {
								margin-top: 20px;
								font-size: 16px;
						}
				}
		}

		.agent {
				padding: 60px 0 50px 0;
				min-height: 280px;
				&__icons {
						&::before {
								width: 90px;
								height: 90px;
								top: -35%;
						}
				}
				&__title {
						font-size: 25px;
				}
				&__subtitle {
						font-size: 13px;
				}
		}

		.price {
				padding: 40px 0 40px 0;
				&__subtitle {
						font-size: 19px;
				}
				&__content {
						flex-wrap: wrap;
				}
				&-item {
						width: 340px;
						margin-bottom: 30px;
						&__title {
								text-align: center;
								padding: 24px 20px 22px 25px;
						}
						&__descr {
								font-size: 17px;
						}
				}
				.button_price {
						font-size: 14px;
						padding: 15px 30px;
				}
				&__consultation {
						margin-top: 30px;
				}
				&__image {
						margin: 30px auto 0 auto;
						&:before {
								width: 90px;
								height: 90px;
								top: -20%;
						}
				}
				.button_form {
						padding: 15px 18px;
				}
		}

		.manager {
				padding: 60px 0 50px 0;
				min-height: 310px;
				&__title {
						font-size: 25px;
				}
				&__subtitle {
						font-size: 14px;
				}
				&__icons {
						&::before {
								width: 90px;
								height: 90px;
								top: -35%;
						}
				}
		}

		.scheme {
				padding: 40px 0 46px 0;
				.grid-container {
						grid-template-columns: repeat(4, 155px);
				}
				.grid-title {
						font-size: 13px;
				}
		}

		.reviews {
				padding: 40px 0 50px 0;
		}

		.questions {
				padding: 40px 0 50px 0;
				min-height: 420px;
				&__wrapper {
						width: 720px;
				}
				.feed-form_send {
						padding: 18px 25px 25px;
						grid-template: 45px 71px/repeat(3, 225px);
						input {
								width: 210px;
								margin-right: 0px;
						}
				}
		}

		.footer {
				min-height: 400px;
				&__info {
						top: 5%;
						left: 65%;
				}
				&__present {
						font-size: 13px;
						margin-right: 0;
				}
				.header__phone {
						font-size: 12px;
				}
				.button {
						font-size: 11px;
						padding: 12px 10px;
				}
		}
}

@media (max-width: 768px) {
		.container {
				max-width: 540px;
		}

		.burger {
				display: block;
		}


		.promo {
				position: relative;
				.menu {
						display: none;
				}
				.mobile-menu {
						display: block;
						width: 80vw;
						height: 100vh;
						top: 0;
						left: -80%;
						background: rgba(0, 0, 0, .9);
						position: absolute;
						padding-left: 0;
						transition: .7s all;
						li {
								list-style-type: none;
								text-align: center;
								margin-top: 55px;
								font-weight: 400;
								font-size: 25px;
								a {
										width: 100%;
										display: block;
										text-decoration: none;
										color: $main-color;
								}
						}
						&.active {
								left: 0;
						}
				}
				.header {
						&__logo {
								width: 65px;
						}
						nav {
								order: 3;
						}
						&__contacts {
								display: flex;
						}
						&__wrapper {
								margin-right: 35px;
						}
						&__text {
								display: none;
						}
				}
				&__present {
						font-size: 20px;
				}
				&__header {
						font-size: 43px;
				}
				&__subtitle {
						font-size: 31px;
				}
				&__line {
						margin-top: 25px;
				}
				&__icon {
						width: 115px;
						font-size: 13px;
				}
		}

		.advantages {
				padding: 30px 0 51px 0
		}

		.work {
				padding: 30px 0 0 0;
				.title {
						font-size: 23px;
						line-height: 30px;
				}
				.divider {
						margin: 15px auto 0 auto;
				}
				&__subtitle {
						font-size: 12px;
				}
				.grid-container {
						grid-template-columns: repeat(2, 250px);
						margin: 25px auto 0 auto;
						gap: 30px;
						grid-auto-rows: 340px;
						.grid-title {
								margin-top: 15px;
						}
						.grid-subtitle {
								margin-top: 10px;
						}
				}
		}

		.agent {
				padding: 40px 0 40px 0;
				min-height: 260px;
		}

		.price {
				padding: 30px 0 30px 0;
				&__subtitle {
						font-size: 16px;
				}
				&-item {
						width: 245px;
						&__subtitle {
								span {
										font-size: 25px;
								}
						}
						&__descr {
								font-size: 15px;
						}
				}
				.feed-form {
						justify-content: space-between;
						input {
								width: 160px;
								margin-right: 0;
								padding: 18px 18px;
						}
				}
		}

		.manager {
				padding: 40px 0 40px 0;
				min-height: 290px;
		}

		.scheme {
				padding: 30px 0 30px 0;
				.grid-container {
						grid-template-columns: repeat(2, 250px);
				}
				&__wrapper {
						display: grid;
						grid-template-columns: repeat(2, 250px);
						gap: 40px;
						margin-top: 40px;
				}
		}

		.reviews {
				padding: 30px 0 30px 0;
				&__subtitle {
						font-size: 14px;
				}
				.swiper-wrapper {
						height: 300px;
				}
				.swiper-button-next {
						left: 70%;
						transform: rotate(90deg);
				}
				.swiper-button-prev {
						right: 70%;
						transform: rotate(90deg);
				}
		}

		.questions {
				padding: 30px 0 40px 0;
				min-height: 400px;
				&__wrapper {
						width: 575px;
				}
				.feed-form_send {
						grid-template: 45px 71px/repeat(3, 170px);
						input {
								width: 175px;
						}
				}
		}

		.footer {
				min-height: 350px;
				&__info {
						padding: 15px 25px 10px 32px;
						width: 253px;
						height: 120px;
						top: 6%;
						left: 63%;
				}
				&__addr {
						font-size: 12px;
				}
				&__phone {
						font-size: 12px;
						a {
								font-size: 12px;
						}
				}
				&__email {
						font-size: 12px;
				}
				&__wrapp {
						padding: 24px 0 25px 0;
				}
				&__present {
						font-size: 12px;
				}
				.header {
						&__logo {
								width: 65px;
						}
						&__wrapper {
								display: none;
						}
						.button {
								font-size: 10px;
						}
				}
		}

		.modal {
				&__inner {
						max-width: 450px;
						margin: 30px auto;
				}
				&__content {
						padding: 30px;
				}
		}
}

@media (max-width: 576px) {
		.container {
				width: 100%;
				padding: 0 10px;
		}

		.promo {
				&__present {
						font-size: 13px;
						margin-top: 20px;
				}
				&__header {
						font-size: 35px;
				}
				&__subtitle {
						font-size: 25px;
				}
				.header {
						&__logo {
								width: 60px;
						}
						&__contacts {
								display: none;
						}
				}
				&__icons {
						display: block;
						margin: 0 auto;

				}
				&__icon {
						margin-top: 30px;
						width: 100%;
						font-size: 15px;
				}
				.button_main {
						margin: 30px auto 0 auto;
						padding: 15px 30px;
				}
		}

		.advantages {
				padding: 20px 0 30px 0;
				.title {
						font-size: 25px;
						line-height: 30px;
				}
				&__title {
						font-size: 14px;
				}
				&__items {
						img {
								margin-right: 15px;
								width: 60px;
								height: 60px;
						}
				}
		}

		.work {
				padding: 20px 0 0 0;
				&__subtitle {
						font-size: 13px;
				}
				.grid-container {
						grid-template-columns: 100%;
						row-gap: 45px;
				}
		}

		.agent {
				padding: 30px 0 30px 0;
				&__icons {
						&:before {
								width: 70px;
								height: 70px;
								top: -15%;
						}
				}
				&__title {
						font-size: 25px;
						margin-top: 25px;
				}
				&__subtitle {
						font-size: 15px;
						line-height: 22px;
				}
		}

		.price {
				.title {
						font-size: 25px;
						line-height: 30px;
				}
				&__subtitle {
						font-size: 15px;
				}
				&__content {
						justify-content: center;
				}
				&-item {
						width: 290px;
				}
				&__consultation {
						font-size: 25px;
						margin-top: 10px;
				}
				.feed-form {
						display: block;
						margin-top: 15px;
						input {
								width: 100%;
								margin-top: 25px;
						}
				}
		}

		.manager {
				padding: 30px 0 30px 0;
				&__icons {
						&:before {
								width: 70px;
								height: 70px;
								top: -15%;
						}
				}
				&__title {
						margin-top: 25px;
				}
		}

		.scheme {
				.title {
						font-size: 25px;
				}
				.grid-container {
						grid-template-columns: 100%;
				}
				&__wrapper {
						justify-items: center;
						grid-template-columns: repeat(1, 300px);
				}
				.grid-elem_items {
						margin-right: unset;
				}
		}

		.reviews {
				.title {
						font-size: 25px;
						line-height: 30px;
				}
				.swiper-wrapper {
						height: 340px;
				}
				.swiper-slide {
						&_img {
								width: 100px;
								height: 100px;
						}
						&_descr {
								width: 100%;
						}
				}
				.swiper-button-next {
						left: 80%;
						top: var(--swiper-navigation-top-offset, 15%);
				}
				.swiper-button-prev {
						right: 80%;
						top: var(--swiper-navigation-top-offset, 15%);
				}
		}

		.questions {
				padding: 30px 0 30px 0;
				&__wrapper {
						width: 100%;
				}
				.feed-form_send {
						display: block;
						input {
								width: 100%;
								margin-top: 25px;
						}
				}
				.feed-form__textarea {
						margin-top: 25px;
				}
		}

		.footer {
				min-height: 180px;
				&__info, &__map {
						display: none;
				}
				&__present {
						display: none;
				}
				.header {
						justify-content: space-between;
						&__logo {
								width: 60px;
						}
						.button {
								font-size: 13px;
						}
				}
				&__policy {
						a {
								font-size: 14px;
						}
				}
		}

		.modal {
				&__inner {
						max-width: 310px;
				}
				&__content {
						padding: 20px;
				}
				&__close {
						top: -22px;
						right: 0;
						font-size: 45px;
				}
				.feed-form_popup {
						display: block;
						input	 {
								width: 100%;
						}
				}
		}
}