.questions {
		padding: 62px 0 79px 0;
		min-height: 440px;
		background: url("../image/questions/airplane.jpg") center (center / cover) no-repeat;
		&__wrapper {
				width: 896px;
				background-color: #ffffff;
				margin: 0 auto;
				background-color: rgba(255, 255, 255, 0.7);
				padding-bottom: 25px;
		}
		&__title {
				padding-top: 20px;
				font-size: 19px;
				color: #ffffff;
				font-weight: 700;
				text-align: center;
				text-transform: uppercase;
				background-color: #25333c;
		}
		&__subtitle {
				font-size: 14px;
				font-weight: 400;
				text-align: center;
				color: #ffffff;
				text-transform: uppercase;
				background-color: #25333c;
				padding-bottom: 19px;
		}
}