.reviews {
		min-height: 475px;
		background-color: #fff;
		padding: 51px 0 65px 0;
		&__subtitle {
				color: #232121;
				margin-top: 15px;
				font-size: 21px;
				font-weight: 300;
				text-align: center;
		}

		.swiper {
				margin-top: 31px;
		}


		.swiper-slide_img {
				width: 114px;
				height: 114px;
				margin: 0 auto;
				img {
						display: block;
						max-width: 100%;
						border-radius: 100%;
				}
		}

		.swiper-slide_title {
				font-size: 18px;
				text-align: center;
				font-weight: 700;
				color: black;
				margin-top: 20px;
		}

		.swiper-slide_descr {
				width: 600px;
				color: #3a3a3a;
				margin: 15px auto 0 auto;
				font-size: 14px;
				font-weight: 300;
				text-align: center;
				line-height: 22px;
		}

		.swiper-button-next {
				left: 60%;
				top: var(--swiper-navigation-top-offset,20%);
		}


		.swiper-button-prev {
				left: revert;
				right: 60%;
				top: var(--swiper-navigation-top-offset,20%);
		}
}